<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>jQuery WeUI</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
    ">
    <link href="/assets/css/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/demos.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <!-- order Styles-->
    <!--<link href="/css/order.css" type="text/css" rel="stylesheet">-->
    <!--
        <link href="/webjars/amazeui/2.7.2/dist/css/amazeui.css" type="text/css" rel="stylesheet">
    -->

</head>

<body ontouchstart>
<div class="weui-cell" style="border-bottom: 1px solid #ddd">
    <a href="javacript:;">
        <div class="weui-cell__hd"><img src="/icon/avatar.jpg" alt="" style="width:20px;margin-right:5px;display:block">
        </div>
    </a>
    <div class="weui-cell__bd">
        <p>账户</p>
    </div>
    <div class="weui-cell__ft">
        <a href="javascript:;" class="weui-form-preview__btn weui-form-preview__btn_primary open-popup"
           data-target="#half">操作</a>
    </div>
</div>
<div class="weui-tab" id="tabbody">
    <div class="weui-tab__bd">
        <div class="weui-cell weui-cell_warn" th:if="${msg!=null}">
            <div class="weui-cell__hd"><label for="" class="weui-label">消息</label></div>
            <div class="weui-cell__bd">
                <span class="weui-input" name="" th:text="${msg}"></span>
            </div>
            <div class="weui-cell__ft">
                <i class="weui-icon-warn"></i>
            </div>
        </div>
        <!--<div id="tab1" class="weui-tab__bd-item weui-tab__bd-item&#45;&#45;active">-->
        <form class="form-horizontal" role="form" id="savedc">
            <div class="weui-cells weui-cells_form">
                <input type="hidden" th:if="${gc!=null}" th:value="${gc?.gmContractId}">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">合同名称：</label></div>
                    <div class="weui-cell__bd" th:if="${gc==null}">
                        <input class="weui-input" name="gmlContractName"
                               th:value="${gc?.deliveringCompany?.deliveringCompanyName}"></input>
                    </div>
                    <div class="weui-cell__bd" th:if="${gc!=null}">
                    <span class="weui-input" name="gmlContractName"
                          th:value="${gc?.deliveringCompany?.deliveringCompanyName}"></span>
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label">配送公司</label>
                    </div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" id="dclist" name="select1">
                            <option value="">请选择公司</option>
                        </select>
                    </div>
                </div>
                <div class="weui-cell weui-cell_select weui-cell_select-after">
                    <div class="weui-cell__hd">
                        <label for="" class="weui-label">公司餐标</label>
                    </div>
                    <div class="weui-cell__bd">
                        <select class="weui-select" id="dnlist" name="standard.standardId">
                            <option value="">请选择餐标</option>
                        </select>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">荤菜数量：</label></div>
                    <div class="weui-cell__bd">
                        <div class="weui-count">
                            <a class="weui-count__btn weui-count__decrease"></a>
                            <input class="weui-count__number" name="gmContractMeatnumber" id="hunnum" type="number"
                                   th:value="${gc==null? '1' : gc.gmContractMeatnumber}"/>
                            <a class="weui-count__btn weui-count__increase"></a>
                        </div>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">素菜数量：</label></div>
                    <div class="weui-cell__bd">
                        <div class="weui-count">
                            <a class="weui-count__btn weui-count__decrease"></a>
                            <input class="weui-count__number" name="gmlContractVegetablenumber" id="sunum" type="number"
                                   VALUE="0" th:value="${gc==null? '1' : gc.gmlContractVegetablenumber}"/>
                            <a class="weui-count__btn weui-count__increase"></a>
                        </div>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label for="date2" class="weui-label">有效期至：</label></div>
                    <div class="weui-cell__bd" th:if="${gc==null}">
                        <input class="weui-input" id="date2" type="text" value="">
                    </div>
                    <div class="weui-cell__bd" th:if="${gc!=null}">
                        <span class="weui-input" value="${gc?.gmlContractExpirydate}"></span>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">甲方签名:</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" name="gmlContractGroupA" th:if="${gc==null}"/>
                        <span class="weui-input" name="" th:if="${gc!=null}" th:text="${gc?.gmlContractGroupA}"></span>
                    </div>
                </div>
                <div class="weui-cell" th:if="${gc!=null}">
                    <div class="weui-cell__hd"><label class="weui-label">乙方签名:</label></div>
                    <div class="weui-cell__bd">
                        <span class="weui-input" name="" th:text="${gc?.gmlContractGroupB}"></span>
                    </div>
                </div>
                <div class="weui-cell" th:if="${gc!=null}">
                    <div class="weui-cell__hd"><label class="weui-label">合同状态:</label></div>
                    <div class="weui-cell__bd">
                        <span class="weui-input" th:text="${gc?.gmlContractStatus==0?'合同提交':'合同确认'}">未支付</span>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">备注</label></div>
                    <div class="weui-cell__bd">
                        <textarea class="weui-textarea" name="gmlContractDisc" placeholder="请输入合同描述"
                                  rows="3">[[${gc?.gmlContractDisc}]]</textarea>
                        <div class="weui-textarea-counter"><span>0</span>/200</div>
                    </div>
                </div>
                <label for="weuiAgree" class="weui-agree">
                    <input id="weuiAgree" type="checkbox" class="weui-agree__checkbox">
                    <span class="weui-agree__text">
                    阅读并同意<a href="javascript:void(0);">《相关条款》</a>
                    </span>
                </label>
            </div>
        </form>
        <div class="weui-btn-area">
            <a class="weui-btn weui-btn_primary confirm" href="javascript:"
               th:if="${gc==null}">确定</a>
            <a class="weui-btn weui-btn_primary update_cd" th:id="${gc?.gmContractId}" href="javascript:"
               th:if="${gc!=null && gc?.gmlContractStatus==0}">修改</a>
        </div>
        <div class="weui-btn-area">
            <a class="weui-btn weui-btn_default" href="javascript:">返回</a>
        </div>
        <!--</div>-->
    </div>
</div>

<!--//pop-->

<!-- body 最后 -->
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>

<script src="/js/fastclick.js"></script>
<!--<script src="/assets/js/bootstrap.min.js"></script>-->

<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
<!-- 如果使用了某些拓展插件还需要额外的JS -->
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/swiper.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/city-picker.min.js"></script>
<script type="text/javascript">

    $(function () {

        FastClick.attach(document.body);
        //数量增加
        var num = 0;
        var MAX = 99, MIN = 1;
        $(document).on("click", ".weui-count__decrease", function (e) {
            //$('.weui-count__decrease').click(function (e) {
            var $input = $(e.currentTarget).parent().find('.weui-count__number');
            var number = parseInt($input.val() || "0") - 1;
            if (number < MIN) number = MIN;
            //alert(number);
            $input.val(number);
            num = number;
        });
        $(document).on("click", ".weui-count__increase", function (e) {
            // $('.weui-count__increase').click(function (e) {
            var $input = $(e.currentTarget).parent().find('.weui-count__number');
            var number = parseInt($input.val() || "0") + 1;
            if (number > MAX) number = MAX;
            $input.val(number);
            num = number;
        });
        $("#date2").calendar({
            value: ['2019-01-12'],
            dateFormat: 'yyyy年mm月dd日', // 自定义格式的时候，不能通过 input 的value属性赋值 '2016年12月12日' 来定义初始值，这样会导致无法解析初始值而报错。只能通过js中设置 value 的形式来赋值，并且需要按标准形式赋值（yyyy-mm-dd 或者时间戳)
            onChange: function (p, values, displayValues) {
                console.log(p, values, displayValues);
            }
        });
        $.ajax({
            url: "/groupMealContract/yes_list",
            type: "POST",
            data: {},
            error: function (error) {
                $.toast("网络错误", "cancel");
            },
            success: function (result) {
                $.each(result, function (index, i) {
                    // console.log(data[index]);
                    //var option=document.createElement("option");
                    $('#dclist').append("<option value='" + i.deliveringCompanyNo + "'>" + i.deliveringCompanyName + "</option>");
                })
            },
        });
        //选择公司变化
        $(document).on("change", "#dclist", function () {
            var type = $.trim($('#dclist').val());
            if (type == "" || $.isEmptyObject(type)) {
                $.toast("请选择公司", "cancel");
                return;
            }
            //查询餐标
            $.ajax({
                url: "/groupMealContract/getdining",
                type: "POST",
                data: {
                    "dcno": type,
                },
                error: function (error) {
                    $.toast("网络错误", "cancel");
                },
                success: function (result) {
                    $.each(result, function (index, i) {
                        console.log(result[index]);
                        //var option=document.createElement("option");
                        $('#dnlist').append("<option value='" + i.standardId + "' lang='" + i.standardMeatnumber + "," + i.standardVegetablenumber + "'>" + i.standardName + "</option>");
                    })
                },
            });
        });
        //餐标变化
        var numStr = "";
        $(document).on("change", "#dnlist", function (e) {
            var dn = $.trim($('#dnlist').val());
            if (dn == "" || $.isEmptyObject(dn)) {
                $.toast("请选择餐标", "cancel");
                return;
            }
            numStr = $("#dnlist").find("option:selected").attr("lang");
            if (numStr == "" || $.isEmptyObject(numStr)) {
                $.toast("未选择餐标", "cancel");
                return;
            }
            var arr = numStr.split(",");
            console.log(arr[0], arr[1]);
            $('#hunnum').val(arr[0]);
            $('#sunum').val(arr[1]);
        });

        var expireStr;
        $(document).on("change", "#date2", function (e) {
            expireStr = $("#date2").val();
            expireStr = expireStr.replace('年', '-').replace('月', '-').replace('日', '');
            console.log(expireStr);
        });
        $(".confirm").click(function (e) {
            var savedata = $('#savedc').serialize();

            $.confirm({
                title: '确认提交？',
                text: '确认无误后提交',
                onOK: function () {
                    $.showLoading("正在提交");
                    //点击确认
                    $.ajax({
                        url: "/groupMealContract/save?expireStr=" + expireStr,
                        type: "POST",
                        data: savedata,
                        error: function (error) {
                            $.toast("网络错误", "cancel");
                        },
                        success: function (result) {
                            $.hideLoading();
                            $.toast("合同提交成功！请等待对方确认!");
                            setTimeout(function (e) {
                                window.location.href = "http://localhost/msg?msg=" + "合同提交成功！请等待对方确认!";
                            }, 100);
                        },
                    });
                },
                onCancel: function () {
                    $.toast("取消操作", "cancel");
                }

            });

        });
    });
</script>

</body>
</html>