<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>jQuery WeUI</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
    ">
    <link href="/assets/css/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/demos.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <!-- order Styles-->
    <!--<link href="/css/order.css" type="text/css" rel="stylesheet">-->
    <!--
        <link href="/webjars/amazeui/2.7.2/dist/css/amazeui.css" type="text/css" rel="stylesheet">
    -->

</head>

<body ontouchstart>
<div class="weui-cell" style="border-bottom: 1px solid #ddd">
    <a href="javacript:;">
        <div class="weui-cell__hd"><img src="/icon/avatar.jpg" alt="" style="width:20px;margin-right:5px;display:block">
        </div>
    </a>
    <div class="weui-cell__bd">
        <p>账户</p>
    </div>
    <div class="weui-cell__ft">
        <a href="javascript:;" class="weui-form-preview__btn weui-form-preview__btn_primary open-popup"
           data-target="#half">操作</a>
    </div>
</div>
<div class="weui-tab" id="tabbody">
    <div class="weui-tab__bd">
        <header class='demos-header' style="padding: 20px 0px 0px 0px;">
            <h1 class="demos-title" style="font-size: 16px;">配送编号：[[${dm?.deliveringMasterId}]]</h1>
        </header>
        <!--<div id="tab1" class="weui-tab__bd-item weui-tab__bd-item&#45;&#45;active">-->
            <!--<div class="weui-cells__title">配送编号：1323</div>-->
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">配送公司</label></div>
                    <div class="weui-cell__bd">
                        <span class="weui-input" th:text="${dm?.deliveringCompany?.deliveringCompanyName}"></span>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">配送时间</label></div>
                    <div class="weui-cell__bd">
                        <span class="weui-input" id="dmtime"
                              th:text="${#dates.format(dm?.deliveringMasterDelivedate,'yyyy-MM-dd')}"></span>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">配送数量</label></div>
                    <div class="weui-cell__bd">
                        <div class="weui-count">
                        <a class="weui-count__btn weui-count__decrease"></a>
                        <input class="weui-count__number" type="number" th:value="${dm?.deliveringMasterAmount}"/>
                        <a class="weui-count__btn weui-count__increase"></a>
                        </div>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">配送价格</label></div>
                    <div class="weui-cell__bd">
                        <span class="weui-input" th:text="${'¥'+dm.deliveringMasterPrice}">15.00</span>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">配送状态</label></div>
                    <div class="weui-cell__bd">
                        <span class="weui-input"
                              th:text="${dm?.deliveringMasterIsEmergency==0?'普通配送':'应急配送'+','+dm?.deliveringMasterStatus==0?'未确认':(dm?.deliveringMasterStatus==1?'已确认':'已支付')}">未确认</span>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">创建人</label></div>
                    <div class="weui-cell__bd">
                        <span class="weui-input" th:text="${dm?.deliveringMasterCreater}">xxx</span>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">确认人</label></div>
                    <div class="weui-cell__bd">
                        <span class="weui-input" th:if="${dm?.deliveringMasterStatus==1}"
                              th:text="${dm?.deliveringMasterConfirmer}">未确认</span>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">支付状态</label></div>
                    <div class="weui-cell__bd">
                        <span class="weui-input" th:text="${dm?.deliveringMasterStatus==2?'已支付':'待支付'}">未支付</span>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">备注</label></div>
                    <div class="weui-cell__bd">
                        <textarea class="weui-textarea" placeholder="请输入文本"
                                  rows="3">[[${dm.deliveringMasterMemo}]]</textarea>
<!--
                        <div class="weui-textarea-counter"><span>0</span>/200</div>
-->
                    </div>
                </div>
            </div>
            <div class="weui-cells__tips">配送单详情</div>
            <div class="weui-cells">
                <div class="weui-cell" th:each="d,stat : ${details}" th:if="${not #lists.isEmpty(details)}">
                    <div class="weui-cell__hd"><img src="/icon/avatar3.jpg" style="width:25px;margin-right:5px;display:block"></div>
                    <div class="weui-cell__bd">
                        <p th:text="${d?.recipe?.recipeName}" style="margin: 0 2px;"></p>
                    </div>
                    <div class="weui-cell__ft">×[[${d?.deliveringDetailNumber }]]</div>
                </div>
            </div>
            <div class="weui-btn-area">
                <a class="weui-btn weui-btn_primary" th:id="${dm.deliveringMasterId}" href="javascript:"
                   th:if="${dm?.deliveringMasterIsEmergency ==0 && dm?.deliveringMasterStatus==0}" id="showTooltips">确定</a>
                <a class="weui-btn weui-btn_primary" th:id="${dm.deliveringMasterId}" href="javascript:"
                   th:if="${dm?.deliveringMasterIsEmergency ==0 && dm?.deliveringMasterStatus==1}" >您已确认</a>
                <a class="weui-btn weui-btn_primary" th:id="${dm.deliveringMasterId}" href="javascript:"
                   th:if="${dm?.deliveringMasterIsEmergency ==1 && dm?.deliveringMasterStatus==0}" >等待确认</a>
                <a class="weui-btn weui-btn_primary" th:id="${dm.deliveringMasterId}" href="javascript:"
                   th:if="${dm?.deliveringMasterIsEmergency ==1 && dm?.deliveringMasterStatus==1}" >已被确认</a>
            </div>
            <div class="weui-btn-area">
                <a class="weui-btn weui-btn_default" href="javascript:">返回</a>
            </div>
        <!--</div>-->
    </div>
</div>

<!--//pop-->
<div id="half" class='weui-popup__container popup-bottom' style="z-index: 999;">
    <div class="weui-popup__overlay"></div>
    <div class="weui-popup__modal">
        <div class="toolbar">
            <div class="toolbar-inner">
                <a href="javascript:;" class="picker-button close-popup">关闭</a>
                <!--<h1 class="title">操作</h1>-->
            </div>
        </div>
        <div class="modal-content">
            <div class="weui-grids">
                <!--<button id="addtype" data-toggle="modal" data-target="#myModal" class="btn btn-primary" type="button">添加</button>-->
                <a href="javascript:;" class="emergy weui-grid js_grid" data-id="dialog" data-toggle="modal"
                   data-target="#myModal">
                    <div class="weui-grid__icon">
                        <img src="/icon/icon_nav_progress.png" alt="">
                    </div>
                    <p class="weui-grid__label">
                        新增
                    </p>
                </a>
                <a href="javascript:;" class="weui-grid js_grid" data-id="progress">
                    <div class="weui-grid__icon">
                        <img src="/icon/icon_nav_dialog.png" alt="">
                    </div>
                    <p class="weui-grid__label">
                        消息
                    </p>
                </a>
                <a href="/complaint/save" class="emergy weui-grid js_grid" data-id="msg">
                    <div class="weui-grid__icon">
                        <img src="/icon/icon_nav_msg.png" alt="">
                    </div>
                    <p class="weui-grid__label">
                        添加员工
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- body 最后 -->
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>

<script src="/js/fastclick.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
<!-- 如果使用了某些拓展插件还需要额外的JS -->
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/swiper.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/city-picker.min.js"></script>
<script type="text/javascript">

    $(function () {

        FastClick.attach(document.body);
        //数量增加
        var num=0;
        var MAX = 99, MIN = 1;
        $(document).on("click", ".weui-count__decrease", function (e) {
            //$('.weui-count__decrease').click(function (e) {
            var $input = $(e.currentTarget).parent().find('.weui-count__number');
            var number = parseInt($input.val() || "0") - 1;
            if (number < MIN) number = MIN;
            //alert(number);
            $input.val(number);
            num=number;
        });
        $(document).on("click", ".weui-count__increase", function (e) {
            // $('.weui-count__increase').click(function (e) {
            var $input = $(e.currentTarget).parent().find('.weui-count__number');
            var number = parseInt($input.val() || "0") + 1;
            if (number > MAX) number = MAX;
            $input.val(number);
            num=number;
        });
        $("#showTooltips").click(function(e) {
            var time = $(e.currentTarget).parent("div").find("#dmtime").text();
            var idstr = $(e.currentTarget).attr("id");
            $.confirm({
                title: '确认提交？',
                text: '用餐人数:' + num + '，配送时间:' + time + '，确认无误后提交',
                onOK: function () {
                    $.showLoading("正在提交");
                    //点击确认
                    $.ajax({
                        url: "/deliveringMaster/updatenum/",
                        type: "POST",
                        data: {
                            "id": idstr,
                            "num": num
                        },
                        error: function (error) {
                            $.toast("网络错误", "cancel");
                        },
                        success: function (result) {
                            $($this).text("已确认");
                            $($this).removeClass("weui-form-preview__btn_primary confirm").addClass("weui-form-preview__btn_disable");
                            $.hideLoading();
                            $.toast("确认成功!");
                        },
                    });
                },
                onCancel: function () {
                    $.toast("取消操作", "cancel");
                }

            });

        });
    });
</script>

</body>
</html>