<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>jQuery WeUI</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
    ">
    <link href="/assets/css/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/demos.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <!-- order Styles-->
    <!--<link href="/css/order.css" type="text/css" rel="stylesheet">-->
    <!--
        <link href="/webjars/amazeui/2.7.2/dist/css/amazeui.css" type="text/css" rel="stylesheet">
    -->

</head>

<body ontouchstart>
<div class="weui-cell" style="border-bottom: 1px solid #ddd">
    <a href="javacript:;">
        <div class="weui-cell__hd"><img src="/icon/avatar.jpg" alt="" style="width:20px;margin-right:5px;display:block">
        </div>
    </a>
    <div class="weui-cell__bd">
        <p>账户</p>
    </div>
    <div class="weui-cell__ft">
        <a href="javascript:;" class="weui-form-preview__btn weui-form-preview__btn_primary open-popup"
           data-target="#half">操作</a>
    </div>
</div>
<div class="weui-tab" id="tabbody">
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">感谢反馈</h2>
            <p class="weui-msg__desc">请加右边客服微信：<a href="javascript:void(0);">dm20190405</a></p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
                <a href="javascript:;" class="weui-btn weui-btn_primary">首页</a>
                <a href="javascript:;" class="weui-btn weui-btn_default">返回</a>
            </p>
        </div>
        <div class="weui-msg__extra-area">
            <div class="weui-footer">
                <p class="weui-footer__links">
                    <a href="javascript:void(0);" class="weui-footer__link">底部链接文本</a>
                </p>
                <p class="weui-footer__text">Copyright © 2018-2019 weui.io</p>
            </div>
        </div>
    </div>

</div>

<!--//pop-->

<!-- body 最后 -->
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>

<script src="/js/fastclick.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
<!-- 如果使用了某些拓展插件还需要额外的JS -->
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/swiper.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/city-picker.min.js"></script>
<script type="text/javascript">

    $(function () {

        FastClick.attach(document.body);
        //

    });
</script>

</body>
</html>